body {
	
	background-image: URL('possible_background01.jpg');
	background-size: 200%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	font-family: Calibri;
	margin: 0;
	padding: 0;
}

#backgroundBlender {
	background-color: rgba(255,255,255,0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
}

h1 {
	background-color: #65728f;
	font-family: 'Raleway', sans-serif;
	font-size: 350%;
	padding: 0 0 5px 0;
	text-align: center;
	text-shadow: 1px 1px black;
}

h2 {
	color: black;
	width: 130px;
	background-color: rgba(245,245,245,0.9);
	border-radius: 10px 10px 0 0;
	margin: 0 0 0 100px;
	padding: 0 10px;
}

.centerText {
	text-align: center;
}

#centerDiv {
	width: 400px;
	display: block;
	margin: 0 auto;
}

input[type="checkbox"] {
    display:none;
}

input[id="dairy"] + label span {
    display:inline-block;
    height:130px;
	width: 130px;
	margin: 0 65px 0 0;
    background:URL('dairy_icon.png') left top no-repeat;
}

input[id="dairy"]:checked + label span {
	background:URL('dairy_icon_checked.png') no-repeat;
}

input[id="gluten"] + label span {
    display: inline-block;
    height:130px;
    width: 130px;
	margin: 0 0 0 65px;
	background:URL('gluten_icon.png') left top no-repeat;
}

input[id="gluten"]:checked + label span {
	background:URL('gluten_icon_checked.png') no-repeat;
} 

#explanation {
	display: block;
	margin: 0 auto 50px auto;
	width: 75%;
	padding: 5px 10px;
	font-size: 200%;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	text-align: center;
}

#ingredients {
	display: block;
	font-size: 400%;
	margin: 0 auto;
	width: 80%;
	height: 300px;
}

#inputBox {
	display: block;
	font-size: 300%;
	margin: 0 auto;
	width: 40%;
	height: 100px;
}

#glutenArea {
	background-color: white;
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 25%;
}

#dairyArea {
	background-color: white;
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 25%;
}
